body {
  display: flex;
  margin: 0;
  min-height: 100vh;
}

.section {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.section:not(:first-child) {
  border-left: 1px solid #e0e0e0;
}

.header {
  margin: 0;
  padding: 24px;
  border-bottom: 1px solid #e0e0e0;
}

#textarea {
  flex: 1;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
}

#output {
  margin: 12px;
  padding: 48px;
  border-radius: 4px;
  border: 1px solid #eeeeee;
  color: #424242;
}

.markdown-body-text {
  margin: 0 0 1em 0;
}

.markdown-h1,
.markdown-h2,
.markdown-h3,
.markdown-h4,
.markdown-h5,
.markdown-h6 {
  position: relative;
  margin: 0 0 24px 0;
  line-height: 1.5em;
}

.markdown-anchor {
  visibility: hidden;
  vertical-align: middle;
}
.markdown-h1:hover .markdown-anchor,
.markdown-h2:hover .markdown-anchor,
.markdown-h3:hover .markdown-anchor,
.markdown-h4:hover .markdown-anchor,
.markdown-h5:hover .markdown-anchor,
.markdown-h6:hover .markdown-anchor {
  visibility: visible;
}

.markdown-h1,
.markdown-h2 {
  border-bottom: 2px solid #eeeeee;
}

.markdown-h1 {
  font-size: 3em;
}
.markdown-h2 {
  font-size: 2.5em;
}
.markdown-h3 {
  font-size: 2em;
}
.markdown-h4 {
  font-size: 1.8em;
}
.markdown-h5 {
  font-size: 1.5em;
}
.markdown-h6 {
  font-size: 1.2em;
}

.markdown-ul {
  padding-left: 30px;
}

.markdown-blockquote {
  margin: 12px 0 12px 0;
  padding: 4px 0 4px 24px;
  border-left: 4px solid #e0e0e0;
}
.markdown-blockquote:last-child {
  margin-bottom: 0;
}

.markdown-pre {
  display: block;
  padding: 1em;
  border-radius: 4px;
  background-color: #f5f5f5;
}

.markdown-code {
  display: inline;
  padding: 2px 10px;
  border-radius: 4px;
  background-color: #f5f5f5;
}

.markdown-hr {
  margin: 1em 0;
  border: 0;
  border-bottom: 2px solid #eeeeee;
}

.markdown-table {
  border-spacing: 0;
  border-collapse: collapse;
}
.markdown-th,
.markdown-td {
  padding: 8px 12px;
  border: 1px solid #e0e0e0;
}
