body {
  display: flex;
  margin: 0;
  min-height: 100vh;
}

body > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}
body > div:not(:first-child) {
  border-left: 1px solid #e0e0e0;
}

h1 {
  margin: 0;
  padding: 12px 24px;
  border-bottom: 1px solid #e0e0e0;
}

#textarea {
  flex: 1;
  width: 100%;
  border: none;
  outline: none;
}
